#switchModeButton{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-top: 20px;
    
}
#authPage{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px
}